{% extends "admin/layout.html" %}

{% block admin_content %}

<h2 class="mb-4">

Crime Reports

</h2>

<table class="table table-hover table-bordered shadow">

<thead class="table-dark">

<tr>

<th>ID</th>
<th>Citizen</th>
<th>Category</th>
<th>Title</th>
<th>Location</th>
<th>Date</th>
<th>Status</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for report in reports %}

<tr>

<td>{{ report.report_id }}</td>

<td>{{ report.full_name }}</td>

<td>

{{ report.category_name or "Unknown" }}

</td>

<td>{{ report.title }}</td>

<td>{{ report.location }}</td>

<td>{{ report.report_date }}</td>

<td>

{% if report.status=="Pending" %}

<span class="badge bg-warning text-dark">

Pending

</span>

{% elif report.status=="Accepted" %}

<span class="badge bg-primary">

Accepted

</span>

{% elif report.status=="Under Investigation" %}

<span class="badge bg-info">

Under Investigation

</span>

{% elif report.status=="Closed" %}

<span class="badge bg-success">

Closed

</span>

{% else %}

{{ report.status }}

{% endif %}

</td>

<td>

<a
href="{{ url_for('admin.report_details',
report_id=report.report_id) }}"
class="btn btn-sm btn-primary">

View

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% if reports|length == 0 %}

<div class="alert alert-info">

No crime reports found.

</div>

{% endif %}

{% endblock %}