body{
    background:#f5f7fa;
}

.hero-card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.btn{
    border-radius:10px;
}

.form-control{
    border-radius:10px;
}

.card{
    border-radius:20px;
}