{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card hero-card p-5 text-center">

            <h1 class="display-4 fw-bold">

                Smart Crime Tracker

            </h1>

            <p class="lead mt-3">

                A modern crime reporting and investigation system
                for Citizens and Police Administration.

            </p>

            <div class="mt-4">

                <a href="/login"
                   class="btn btn-primary btn-lg me-2">

                    <i class="bi bi-box-arrow-in-right"></i>

                    Login

                </a>

                <a href="/register"
                   class="btn btn-success btn-lg">

                    <i class="bi bi-person-plus-fill"></i>

                    Register

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}