{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card p-4 shadow">

            <h2 class="text-center mb-4">
                Citizen Registration
            </h2>

            <form method="POST" action="{{ url_for('auth.register') }}">

                <div class="mb-3">
                    <label class="form-label">Full Name <span class="text-danger">*</span></label>
                    <input
                    type="text"
                    name="full_name"
                    class="form-control"
                    required
                    minlength="3"
                    maxlength="50"
                    pattern="[A-Za-z ]+"
                    title="Full name can contain only letters and spaces.">
                </div>

                <div class="mb-3">
                    <label class="form-label">Username <span class="text-danger">*</span></label>
                    <input
                    type="text"
                    name="username"
                    class="form-control"
                    required
                    pattern="[A-Za-z][A-Za-z0-9_ ]*"
                    minlength="3"
                    maxlength="30"
                    title="Username must start with a letter and can contain letters, numbers and underscores.">
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone <span class="text-danger">*</span></label>
                    <input
                        type="tel"
                        name="phone"
                        class="form-control"
                        maxlength="10"
                        pattern="[0-9]{10}"
                        required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Address <span class="text-danger">*</span></label>
                    <textarea
                        name="address"
                        class="form-control"
                        rows="3"
                        required></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        required>
                        <small class="text-muted">
                        Password must be at least 8 characters long and contain at least one uppercase letter and one number.
                        </small>
                </div>

                <button
                    type="submit"
                    class="btn btn-success w-100">

                    Register

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}